@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --color-dark: #1F2131;
  --color-dark-light: #363848;
  --color-grey: #ccc;
  --color-white: #fff;
  --color-blue: #5F4BDB;
  --bg-color: #EDF1FF;
  --bg-green: #18ac44;
  --bg-violet-light: #ecdeff;
  --bg-violet-dark: #5f4bdb;
  --theme-bg-color: #5F4BDB;
  --font-medium: 300;
  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;
  --font-extra-bold: 700;
  --base-font-size: 18px;
  --head-font-size: 52px;
  --head-font-size-md: 40px;
  --head-font-size-sm: 32px;
  --sub-head-font-size: 26px;
  --content: "";
  --zero: 0;
  --f-18: 18px;
  --f-20: 20px;
  --f-22: 22px;
  --f-24: 24px;
  --f-26: 26px;
  --theme-radius: 1.5rem;
  --absolute: absolute;
  --relative: relative;
  --height-vh: 100vh;
  --object-none: none;
  --object-block: block;
  --object-hidden: hidden;
  --object-visible: visible;
  --rounded-theme: 1.2rem;
  --theme-border: 1px solid #5F4BDB;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.form-select:focus,
button:focus,
a:focus,
.nav-link:focus-visible {
  box-shadow: none;
}
.background-bg {
  background-color: var(--bg-color);
}
.theme-bg-dark {
  background-color: var(--color-dark);
}
.bg-theme {
  background-color: var(--theme-bg-color);
}
.video-icon {
  top: 30%;
  width: 44px;
  padding: 10px;
  left: var(--zero);
  right: var(--zero);
  border-radius: 5px;
  background-color: var(--color-white);
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
.quicklink-wrap {
  transform: translate();
}

footer {
  background-color: #0b0914;
}

.navbar-brand,
.foot-logo {
  width: 280px;
}
.section-block-sm {
  padding: 50px 0;
}
.section-block-md {
  padding: 120px 0;
}
.section-block-lg {
  padding: 140px 0;
}
.section-block-team {
  padding: 60px 0 0;
}
.theme-btn-component {
  text-align: center;
  color: var(--color-dark);
}

.applink-btn {
  width: 16px;
  height: 8px;
  opacity: 0;
  visibility: hidden;
}

.app-card:hover {
  cursor: pointer;
}

.app-card:hover .applink-btn {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.avatar-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}


/* .flex-block-links {
  border-bottom: 1px solid #ccc;
} */

.theme-btn-component:hover {
  color: var(--color-white);
  background-color: var(--theme-bg-color);
}
.theme-btn-component.btn-theme-fill {
  color: var(--color-white);
  background-color: var(--bg-violet-dark);
}

.play-btn-component,
.theme-btn-component {
  height: 50px;
  min-width: 180px;
  line-height: 48px;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
}

.play-btn-component:hover {
  color: var(--color-blue);
}

.play-btn-component {
  background: #fff;
}
.spotlight .object-1 {
  top: var(--zero);
  left: 15px;
}
.spotlight .object-2 {
  top: var(--zero);
  right: 15px;
}
.spotlight .object-3 {
    bottom: 80px;
    right: 38px;
}
.campign-item-sm {
  width: 142px;
  height: 142px;
}

.campign-item-md {
  width: 242px;
  height: 242px;
}

.campign-item-lg {
  width: 338px;
  height: 338px;
}

.campign-item-1 {
  left: var(--zero);
  top: 25%;
}

.campign-item-2 {
    right: 18%;
    bottom: 10%;
}

.campign-item-3 {
  left: 0;
  bottom: var(--zero);
}

.campign-item-4 {
  right: var(--zero);
  top: 0;
}

.campign-item {
  position: var(--absolute);
}
.spotlight.section-block-sm {
  padding: 50px 0 100px;
}
.spotlight .content h2 {
  font-size: var(--head-font-size);
}

.spotlight .content h2 span {
  color: var(--color-blue);
}
.spotlight .carousel .control-dots {
  width: auto;
  left: var(--zero);
}
.spotlight .carousel .control-dots .dot {
  height: 5px;
  width: 25px;
  margin: var(--zero) 5px;
  box-shadow: none;
  background-color: var(--bg-violet-dark);
  border-radius: 5px;
}
.spotlight .carousel .control-dots .dot.selected {
    width: 40px;
    background-color: var(--theme-bg-color);
    
}
.campign-latest-image {
  min-height: 600px;
}

.border-theme {
  border: var(--theme-border) !important;
}
.voter-h-card-sec {
  top: -90px;
  position: relative;
}
.voter-h-card-item .title i {
  right: var(--zero);
  top: 2px;
  line-height: var(--zero);
}

.board-team .img-block {
  max-width: 140px;
  text-align: center;
  margin: 0 auto;
}
.card-item.shadow-sm:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  -moz-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.rounded-theme {
  border-radius: var(--rounded-theme);
}
.flex-block-links .nav-tabs .nav-link.active::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #2bc155;
}
.flex-block-links .nav-tabs .nav-link.active {
  position: relative;
  font-weight: var(--font-semibold);
}
.flex-block-links .link {
  color: var(--color-dark-light);
  font-size: var(--f-20);
}
/* pagination */
.pagination > .page-item:first-of-type .page-link,
.pagination > .page-item:last-of-type .page-link {
  background-color: transparent;
  height: auto;
  width: auto;
}
.pagination > .page-item > .page-link {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 5px !important;
  background-color: var(--bg-violet-light);
}
.pagination > .page-item > .page-link-active {
  background-color: var(--bg-violet-dark);
}
.pagination-wrap {
  margin-top: 100px;
  margin-bottom: 50px;
}
/* pagination */
/*==============================================floating==============================================*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/*==============================================tossing==============================================*/
.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}
/*  */
/* nav-pills */
.nav-pills .nav-item .active {
  border: var(--theme-border) !important;
}
.card.theme-card {
  border-radius: 20px;
}
.card-body.theme-gap {
  padding: 2.5rem;
}
.counter-card.card {
  background-color: var(--bg-violet-dark);
}
.counter {
  font-size: 4rem;
}
.title-text::after {
  content: "";
  right: var(--zero);
  top: 3px;
  width: 1px;
  height: 20px;
  background: #ccc;
  position: absolute;
}
/* footer */
.social-icon .icon {
  display: inline-block;
  border: 1px solid #535353;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 56px;
  text-align: center;
}
.foot-links li {
  margin-bottom: 8px;
}
.foot-links li:last-of-type {
  margin-bottom: 0;
}
.foot-links li a {
  color: var(--color-grey);
}
.gif-img {
  width: 48px;
}

.foot-sub {
  border-top: 1px solid var(--color-dark-light);
}
.flex-block-links.nav-pills .nav-link {
  border-radius: 30px;
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  
}
.flex-block-links.nav-pills .nav-link.active {
  border: 1px solid var(--theme-bg-color);
  background-color: transparent;
  color: var(--color-dark);
} 
.nav-underline .nav-link {
  color: var(--theme-bg-color);
}
.nav-underline .nav-link.active, 
.nav-underline .show>.nav-link {
  font-weight: var(--font-semibold);
  color: var(--color-dark-light);
  border-bottom-color: var(--bg-green)
}
.link-btn {
  right: 15px;
  opacity: 0;
  bottom: 15px;
  visibility: hidden;
}
.card-item:hover .link-btn {
  visibility: visible;
  opacity: 1;
  animation-name: appear;
  animation-duration: 500ms;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  to {
    opacity: 1;
    display: inline-block;
    visibility: visible;
  }
}
.detail-banner .breadcrumb {
  margin: var(--zero);
  justify-content: center;
}
.banner-title span {
  color: var(--color-blue);
}
.section-block-md-end {
  padding-bottom: 120px;
}
.history-carousel .slick-list {
  padding: 50px 0;
}
.history-carousel .slick-slide  {
  padding: 0 15px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand, .foot-logo {
    width: 220px;
  }
  .spotlight .content h2 {
    font-size: var(--head-font-size-sm);
  }
  .spotlight.section-block-sm {
    padding: 50px 0 50px;
  }
  .voter-h-card-sec {
    top: 0;
  }
  .carousel .slide {
    padding-bottom: 50px;
  }
  .social-icon .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .section-block-md {
    padding: 60px 0;
  }
}
